$btn-dark: #2C409F; 
$btn-light: #5072A2;

$btn-start-start: #FEBB02;
$btn-start-end: #FE9D02;

@font-face {
    font-family: 'LeagueScriptNumberOne';
    src: font-url('LeagueScriptNumberOne-webfont.eot');
    src: font-url('LeagueScriptNumberOne-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('LeagueScriptNumberOne-webfont.woff') format('woff'),
         font-url('LeagueScriptNumberOne-webfont.ttf') format('truetype'),
         font-url('LeagueScriptNumberOne-webfont.svg#LeagueScriptNumberOne') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
  width: 100%;
  height: 100%;

  body {
    font-family: 'LeagueScriptNumberOne';
    height:100%;
    width:100%;
    margin: 0 auto;
    background-color: gray;
    max-width:1024px;
    /*display: flex;*/
    /*display: -webkit-flex;*/

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    .notice,
    .alert {
      display:none;
    }
    .nav {
      /*position: fixed;*/
      /*top:0px;*/
      height:2em;
      max-width:1024px;
      margin: 0 auto;
      padding: 1em 0;
      background: linear-gradient(0deg,  
              hsla(231, 61%, 44%, 1.0), 
              hsla(231, 29%, 44%, 1.0));
      color: hsla(312, 100%, 65%, 1.0);
      font-weight: lighter;

      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      
      align-items:center;
      -webkit-align-items:center;

      @media screen and (max-width: 1024px) {
        width:100%;
      }

      h3 {
        margin: 0 0.5em;
        display:inline-block;
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
      h2.title {
        @media screen and (max-width:550px) {
          margin-left:20px;
        }

      }

      .button {
        margin-right:10px;
        /*border: 1px solid black;*/
        padding: 10px 20px;
        border-radius: 7.5%;
        background: linear-gradient(0deg,  
          $btn-dark, 
          $btn-light);
        @media screen and (min-width: 550px) {
          display: none;
        }

        /*&:;*/
      }
    }

    .notice {
      width:100%;
    }

    .alert {
      width: 100%;
    }
    .game-area{
      height:100%;
      display:flex;
      display:-webkit-flex;

      .start {
        margin: 0 auto;
        -webkit-align-self:center;
        align-self:center;
        border-radius:5%;
        padding: 1em;
        padding-bottom:0.5em;
        background: linear-gradient(180deg, $btn-start-start, $btn-start-end);

        a {
          text-decoration: none;
        }
        -webkit-animation-name: slide;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;

        animation-name: slide;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

        &:hover {
          background: linear-gradient(180deg, $btn-start-start, $btn-start-end);
          animation-iteration-count: 0;
          -webkit-animation-iteration-count: 0;
          /*background*/
        }

/*        &:active {
          display:none !important;
          -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
        }*/
      }
    }
  }
}

@-webkit-keyframes slide {
  50% { opacity:0.3;}
}

@keyframes slide {
  50% { opacity:0.3;}
}


