@function calc_width($height) {
  @return $height * 2.5/3.5;
}

$card-height: 100px;
$card-width: calc_width($card-height);

$btn-dark: #2C409F; 
$btn-light: #5072A2;

$btn-start-start: #FEBB02;
$btn-start-end: #FE9D02;

$box-shadow-color: hsla(250deg, 50%, 0%, 0.075);
$light-shade-bgr-color: hsla(231, 29%, 44%, 1.0);
$dark-shade-bgr-color: hsla(231, 61%, 44%, 1.0);
$face-down-color: hsla(231, 29%, 44%, 1.0);
// $face-down-color: hsla(250deg, 50%, 50%, 1.0);

@font-face {
    font-family: 'LeagueScriptNumberOne';
    src: font-url('LeagueScriptNumberOne-webfont.eot');
    src: font-url('LeagueScriptNumberOne-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('LeagueScriptNumberOne-webfont.woff') format('woff'),
         font-url('LeagueScriptNumberOne-webfont.ttf') format('truetype'),
         font-url('LeagueScriptNumberOne-webfont.svg#LeagueScriptNumberOne') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
  width: 100%;
  height: 100%;

  body {
    font-family: 'LeagueScriptNumberOne';
    height:100%;
    width:100%;
    margin: 0 auto;
    background-color: gray;
    max-width:1024px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    .notice,
    .alert {
      display:none;
    }
    .nav {
      // position: fixed;
      /*top:0px;*/
      height:2em;
      max-width:1024px;
      margin: 0 auto;
      padding: 1em 0;
      background: linear-gradient(0deg,  
             $dark-shade-bgr-color, 
              $light-shade-bgr-color);
      color: hsla(312, 100%, 65%, 1.0);
      font-weight: lighter;

      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      
      align-items:center;
      -webkit-align-items:center;

      @media screen and (max-width: 1024px) {
        width:100%;
      }

      h3 {
        margin: 0 0.5em;
        display:inline-block;
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
      h2.title {
        @media screen and (max-width:550px) {
          margin-left:20px;
        }

      }

      .button {
        margin-right:10px;
        padding: 10px 20px;
        border-radius: 7.5%;
        background: linear-gradient(0deg,  
          $btn-dark, 
          $btn-light);
        @media screen and (min-width: 550px) {
          display: none;
        }
      }
    }

    .notice {
      width:100%;
    }

    .alert {
      width: 100%;
    }
  }
}

#container {

  height:100%;
  display:flex;
  display:-webkit-flex;

  .start {
    margin: 0 auto;
    -webkit-align-self:center;
    align-self:center;
    border-radius:5%;
    padding: 1em;
    padding-bottom:0.5em;
    background: linear-gradient(180deg, $btn-start-start, $btn-start-end);

    a {
      text-decoration: none;
    }
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;

    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &:hover {
      background: linear-gradient(180deg, $btn-start-start, $btn-start-end);
      animation-iteration-count: 0;
      -webkit-animation-iteration-count: 0;
    }

    box-shadow: 0px 5px 10px 5px $box-shadow-color;
  }
}

@-webkit-keyframes slide {
  50% { opacity:0.3;}
}

@keyframes slide {
  50% { opacity:0.3;}
}

@mixin deck ($color: black) {
  border: 1px solid $color;
  height: 100px;
  width: 400px;
  margin: auto auto;
  justify-content: center;
  align-content: center;  
  display: flex;

  .card {
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
  }
}
#player_1 {
  height:33.33%;

  .last.face_down.deck {
    @include deck(black);
    position: relative;
    top: 10px;
    z-index: 1;
  }

  .last.face_up.deck {
    @include deck(red);
    position: relative;
    top: -80px;
    left: 10px;
    z-index: 2;
  }

  .hand.deck {
    @include deck(green);
    width: 90%;
  }
}

#neutral {
  height:33.33%;
  margin: 0 auto;
  display: flex;

  #status {
    @include deck(red);
  }

  .used {
    @include deck(blue); 
  }

  .new {
    @include deck(orange);

    .card {
      position: absolute;
    }
  }
}

#player_2 {
  height:33.33%;

  .last.face_down.deck {
    @include deck(black);
    position: relative;
    bottom: 10px;
    z-index: 1;
  }

  .last.face_up.deck {
    @include deck(red);
    position: relative;
    bottom: -80px;
    left: 10px;
    z-index: 2;
  }

  .hand.deck {
    @include deck(green);
    width: 90%;
  }
}


.card {
  border: 1px solid black;
  border-radius: 6px;
  background-color: #FFF;
  height: $card-height;
  width: $card-width;
  display: block;
  box-shadow: 0 0 5px 5px $box-shadow-color;

  &[orientation='face-down'] {
    background: linear-gradient(0deg,  
                  $dark-shade-bgr-color, 
                  $light-shade-bgr-color);
    &::before {
      content: '?';
      color: $btn-start-start;
      font-size: 50px;
      font-weight: bold;
      position: relative;
      top: 35px;
      left: 14px;
    }

    &::after {
      // content: &[orientation];
    }
  }

  .num {

  }

  .suit {

  }
}